Source: tvb-neurodebian
Section: devel
Priority: extra
Maintainer: umar abdullahi <umarbrowser20@gmail.com>
Build-Depends: debhelper (>=9),
               dh-python,
               python-all,
               python-setuptools
Standards-Version: 3.9.8
Homepage: <https://github.com/umarbrowser/Neuropackage>
X-Python-Version: >= 2.6

Package: tvb-neurodebian
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: simple package to show i can do it
  on gsoc packaging tvb to neurodebian package.
